*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/android/build
/common/compose-ui/build
/common/database/build
/common/edit/build/
/common/main/build
/common/root/build
/common/utils/build
/common/viewmodel/build
/desktop/build
/buildSrc/build